/* --------------------------------------- */
/* Reset --------------------------------- */
/* --------------------------------------- */

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, input, textarea, img, blockquote, iframe, code, pre{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}




body{
	font: 12px sans-serif;
	color: #555;
	background: url(../img/bg.jpg) repeat #eee;
}

#status{
	width: 172px;
	height: 172px;
	padding: 15px;
	margin: 20% auto 0;
	border: 1px solid #bfbfbf;
	border-radius: 101px;
	box-shadow: 0 0 6px rgba(10,10,10,0.4) inset, 0 1px 0 rgba(255,255,255,0.9);
}

.ring{
	width: 170px;
	height: 170px;
	background: url(../img/bg.jpg) repeat #f4f6f5;
	border: 1px solid #bfbfbf;
	border-radius: 95px;
	box-shadow: 0 0 6px rgba(10,10,10,0.4), 0 -1px 0 rgba(255,255,255,0.8) inset;
}

#status h2{
	margin: 74px 0 0;
	font: normal 28px/1em sans-serif;
	color: #bbb;
	text-shadow: 0 1px #fff;
	text-align: center;
}

#status.online{
	background: #0f0;
}

#status.offline{
	background: #f00;
}

#status audio{
	display: none;
}


/* - Selection Color - */

::-moz-selection{
	color: #fff;
	background: #222;
}

::selection{
	color: #fff;
	background: #222;
}